.container{
    height: 100px;
    width: 100px;
    color: white;
    font-size: larger;
    background-color: midnightblue;
    position: absolute;
    top:100px;
    left: 100px;
    transform: rotate(45deg);
    rotate:x 60deg;
}
div:hover{
    background-color: mediumvioletred;
    color: black;
}